@media (min-width: 40rem) {

  #menu-toggle {
    display: none;
  }

  .top-bar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }

  nav {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 1.5rem;
    justify-content: center;
  }

  .nav-button {
    display: inline-block;
    justify-self: end;
  }

  .hero img {
    height: 450px;
  }

  .featured-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-inner {
    flex-direction: row;
    align-items: center;
  }

  .about-text {
    flex: 1;
  }

  .about img {
    flex: 1;
    height: 260px;
  }

  .footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 1100px;
    margin: 0 auto;
  }

  .footer-meta {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
    text-align: right;
  }

  .recipe-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .submit-layout {
    flex-direction: row;
    align-items: start;
  }

  .recipe-form {
    flex: 2;
  }

  .saved-recipes {
    flex: 1;
  }
}