@media (min-width: 40rem) {

  #menu-toggle {
    display: none;
  }

  header {
    width: 100%;
  }

  nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  nav a {
    display: block;
  }

  main {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    align-items: start;
  }

  main h1 {
    grid-column: 1 / -1;
  }

  main section:last-of-type {
    grid-column: 1 / -1;
  }
}